{% extends "base.html" %}

{% block content %}
    <div id="scoped-content">

    <h3 align='center'>RULE(S) MATCHING SPECIFIED FLOW</h3>
    <div>
        <table width="100%">
        <tbody>
        {% if not results %}
            <tr><td align='center'><h4>NO MATCH</h4></td></tr>
        {% else %}
        {% for r in results %}
            <tr>
                <td align='center'><h4>NAME</h4> {{ r['@name'] }}</td>
                <td align='center'><h4>FROM</h4>{{ r['from'] }}</td>
                <td align='center'><h4>SOURCE</h4>{{ r['source'] }}</td>
            {% if r.get('source-translation') %}
                <td align='center'><h4>SNAT</h4>{{ r['source-translation'] }}</td>
            {% endif %}            
                <td align='center'><h4>DESTINATION</h4>{{ r['destination'] }}</td>
            {% if r.get('destination-translation') %}
                <td align='center'><h4>DNAT</h4>{{ r['destination-translation'] }}</td>
            {% endif %}
                <td align='center'><h4>SERVICE</h4>{{ r['service'] }}</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
