{% extends "base.html" %}
{% block content %}
    <h4> SELECT COMMAND TO RUN </h4>    
    <form action="{{ url_for('run_cmd') }}" method="POST">
        <div class="form-group">
            <label for="cmd">Destination Zone</label>
            <select class="form-control" name="cmd">
                {% for cmd in commands %}
                <option value="{{ cmd }}">{{ cmd }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
{% endblock %}